.action-bar-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px 0 40px;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
}




.action-bar-actions {
    display: flex;
    gap: 10px;
}